.post_container {
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

.post_header {
    display: flex;
    height: 65px;
}

.post_header_img {
    
}

.post_img {
    margin: 15px;
}

.post_header_text {
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}

.post_description {
    display: flex;
    margin-left: 15px;
}

.post_image {
    margin: 10px 0px;
}

.post_like_container {
    display: flex;
    height: 30px;
    padding: 0px 10px;
    border-bottom: 1px solid #CDD0D4;
}

.post_like{

}

.post_like_img {
    height: 20px;
}

.post_like_count {
    margin-left: 5px;
}

.post_likeShare {
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;
}

.post_tab {
    display: flex;
    width: 200px;
}

.post_tabfirst {

}

.post_tabimg {
    width: 30px;
}

.post_tabtext {
    margin: 5px;
}

.upload_comment {
    border-top: 1px solid #CDD0D4;
}
